:root {
  --white: #ffffff;
  --light-grey: #f6f6f8;
  --light-grey2: rgba(68, 83, 113, 0.1);
  --grey: #a0a9b8;
  --grey2: #d0d4dc;
  --black: #3a353e;
  --blue: #7abef8;
  --dark-blue: #45a5f6;
  --light-blue: #c7e4fc;
  --light-blue2: #daedfd;
  --light-red: #fdeeef;
  --red: #e12828;
  --pink: #fadee0;
}
