:root {
  --white: #ffffff;
  --dark-blue: #45a5f6;
  --dark-blue3:#007EE5;
  --dark-blue2: #7ABEF8;
  --light-blue: #c7e4fc;
  --blue: #c7e4fc;
  --red: #e12828;
  --pink: #fadee0;
  --violet: #6447cf;
  --black: #293244;
  --grey: #a0a9b8;
  --grey2: #d0d4dc;
  --light-grey: #f6f6f8;
  --light-grey-01: rgba(68, 83, 113, 0.1);
  --light-grey-05: rgba(68, 83, 113, 0.5);
  //Пока не использовать

  --light-blue2: #daedfd;
  --light-red: #fdeeef;
}

