.input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  width: 100%;
  > input,
  textarea {
    border: 1px solid var(--grey);
    border-radius: 6px;
    padding: 10px 12px;
    color: var(--black);
    font-size: 14px;

    &:focus,
    &:hover,
    // &:not([value=""]),
    &:not(:empty) {
      border: 1px solid var(--violet);
      outline: none;
    }
  }

  &__label {
    color: var(--black);
    font-size: 16px;
  }

  &_type {
    &_text {
      input {
        width: -webkit-fill-available;
      }
    }

    &_date {
      input {
        color: var(--light-grey-05);

        appearance: textfield;
        -moz-appearance: textfield;

        &::-webkit-calendar-picker-indicator {
          opacity: .6;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &_textarea {
      textarea {
        width: -webkit-fill-available;
        resize: vertical;
      }
    }
  }
}
