.button {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 13px;

  > span {
    color: var(--white);
    font-size: 16px;
  }

  > svg {
    width: 20px;
    height: 20px;
  }
  > svg > * {
    stroke: var();
  }

  &:hover {
    cursor: pointer;
  }

  &_color {
    &_blue {
      background-color: var(--dark-blue);

      > span {
        color: var(--white);
      }

      > svg > * {
        stroke: var(--white);
      }

      &:disabled {
        background-color: var(--light-grey-01);
        > span {
          color: var(--light-grey-05);
        }
        > svg > * {
          stroke: var(--light-grey-05);
        }
      }
    }

    &_lightBlue {
      background-color: var(--light-blue2);

      > span {
        color: var(--black);
      }

      > svg > * {
        stroke: var(--black);
      }
    }
  }

  &_size {
    &_big {
      height: 40px;
      padding: 9px 24px;
      justify-content: start;
      align-items: center;
      border-radius: 100px;
    }

    &_small {
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }

  &_iconPosition {
    &_left {
      > svg {
        order: 1;
      }

      > span {
        order: 2;
      }
    }

    &_right {
      > svg {
        order: 2;
      }

      > span {
        order: 1;
      }
    }
  }
}
