.button {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 13px;
  color: var(--white);
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  &_color {
    &_blue {
      background-color: var(--dark-blue);
    }

    &_lightBlue {
      background-color: var(--light-blue2);
    }
  }

  &_size {
    &_big {
      height: 40px;
      padding: 9px 24px;
      justify-content: start;
      align-items: center;
      border-radius: 100px;
    }

    &_small {
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }
}
